.carousel-inner {
  width: 100%;
  height: 56%;
}

.carousel-inner img {
  width:100%;
  height:56vh;
  object-fit: cover;
  overflow: hidden;
}

.navbar {
  padding: 1.2rem;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-title {
  padding-left: 15px;
}

.navbar-nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.media {
  padding-bottom: 0.8rem;
}

.media-body {
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  margin-right: 1rem;
}

.main_body_bg {
  background-image: url('https://cdn.glitch.com/43ca6912-1875-4311-9c35-05acfbdfd21a%2Fmosaic-wallpaper-in-black-and-gold-vector.jpg?v=1604156126923');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  top: 70%;
}

.btn {
  background-color: white;
}

.mainwrapper {
  background-color: white;
}

#carouselExampleCaptions {
  padding-top: 2rem;
}

.media {
  padding-left: 15px;
}

.lead {
  font-size: 25px;
}