.card-container{
  height:257px;
  position:relative;
  width:18rem;
  perspective:200rem;
}

.card-container:hover .card-front{
  transform: rotateY(180deg);
}

.card-container:hover .card-back{
  transform: rotateY(0deg);
}

.card-back{
  transform: rotateY(180deg);
}

.card{
  position:absolute;
  transition:all 0.9s;
  height:100%;
  width:100%;
  backface-visibility:hidden;
}

.card-back{
  position:relative;
}
