.card-container{
  height:257px;
  position:relative;
  width:18rem;
  perspective:200rem;
}

.card-container:hover .card-front{
  transform: rotateY(180deg);
}

.card-container:hover .card-back{
  transform: rotateY(0deg);
}

.card-back{
  transform: rotateY(180deg);
}

.card{
  position:absolute;
  transition:all 0.9s;
  height:100%;
  width:100%;
  backface-visibility:hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-back .card-body{
  position:relative;
}

.main_body_bg {
  background-image: url('https://cdn.glitch.com/43ca6912-1875-4311-9c35-05acfbdfd21a%2Fmosaic-wallpaper-in-black-and-gold-vector.jpg?v=1604156126923');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
}

.navbar {
  padding: 1.2rem;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-title {
  padding-left: 15px;
}

.navbar-nav li {
  padding-left: 20px;
  padding-right: 20px;
}